{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>

<div class="container-fluid">
  <p>Here you can search</p>
  <form method="get">
    <h3>{{ filtered.form }}</h3>
    <button class="btn btn-secondary" type="submit">Search</button>
  </form>

</div>

<div class="container-fluid">
  <div class="row">

    {% for item in projects %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
        <div class="card-body">
          <a href="{{ item.get_absolute_url }}">
            <h5 class="card-title">{{item.title}}</h5>
          </a>
          <p class="card-text">{{ item.description }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock content %}